@{
    ViewData["Title"] = "Admin";
}

<h1>You are logged in as Admin</h1>

<h3>Admin Actions:</h3>


<div class="row">
    <div class="col-md-3">
        <a asp-controller="Product" asp-action="ProductsTable"><img height="300px" width="300px" alt="product" src="~/images/packing.png"></a>
        <h3><a asp-controller="Product" asp-action="Index">Products</a></h3>
    </div>
        <div class="col-md-3">
        <a asp-controller="Customer" asp-action="Index"><img height="300px" width="300px" alt="product" src="~/images/Customerst.png"></a>
        <h3><a asp-controller="Customer" asp-action="Index">Customers</a></h3>
    </div>
     <div class="col-md-3">
        <a asp-controller="Order" asp-action="Index"><img height="300px" width="300px" alt="product" src="~/images/purchase.png"></a>
        <h3><a asp-controller="Order" asp-action="Index">Orders</a></h3>
    </div>
    <div class="col-md-3">
        <a ><img height="300px" width="300px" alt="product" src="~/images/mail.png"></a>
        <h3><a asp-action="Index">Mail</a></h3>
    </div>
</div>