@{
    ViewData["Title"] = "Admin";
}

<h1>You are logged in as Admin</h1>

<h2>Admin Actions:</h2>


<div class="row">
    <div class="col-md-4">
        <a asp-controller="Product" asp-action="ProductsTable">
        <img src="~/images/1.jpg" class="img-circle" alt="Cinque Terre" width="236" height="236"> 
            </a>
            <h2>--------Products--------</h2>
    </div>

        <div class="col-md-4">
        <a asp-controller="Customer" asp-action="Index">
        <img src="~/images/2.jpg" class="img-circle" alt="Cinque Terre" width="236" height="236"> 
            </a>
            <h2>--------Customers--------</h2>
    </div>

     <div class="col-md-4">
        <a asp-controller="Order" asp-action="Index">
        <img src="~/images/3.jpg" class="img-circle" alt="Cinque Terre" width="236" height="236"> 
            </a>
            <h2>-----------Orders-----------</h2>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h2>Total value of all items in the inventory:</h2>
            <h1>$@ViewData["stock_value"]</h1>
        </div>
    </div>
</div>