@{
    ViewData["Title"] = "Admin";
}

<h1>You are logged in as Admin</h1>

<h3>Admin Actions:</h3>
<ul>
    <li><a asp-controller="Product" asp-action="ProductsTable" >Control products</a></li>
    <li><a asp-controller="Customer" asp-action="Index" >Control customers</a></li>
    <li><a>View Orders</a></li>
</ul>