@model Webshop.Models.ApplicationUser;

@{
    ViewData["Title"] = "Log in";
}

<h1>Login</h1>


<form asp-controller="Account" asp-action="Login">
    <div class="row">
        <div class="col-lg-3">
            <label asp-for="Email">Email address</label>
            <input type="email" class="form-control" asp-for="Email" placeholder="Enter email">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small><br>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <label asp-for="Password">Password</label>
            <input type="password" class="form-control" asp-for="Password" placeholder="Password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>

    <br>
    <button type="submit" class="btn btn-primary" value="Login">Login</button>
    <br>
    <a asp-controller="Customer" asp-action="Create">Don't have an account yet?</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}