.App {
  text-align: center;
}

.App-logo {
  height: 50px;
}

.App-header {
  text-align: left;
  background-color: #000000;
  height: 70px;
  padding: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Navbar{
  background-color: #000000;
}