@{
    ViewData["Title"] = "Billy Hu";
}


<div class="row">
    <div class="col-sm-12">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">

      <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Customer centered approach</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">During this project, we came together with the Product Owner for a biweekly meeting for the development of a data-driven web application. During this meeting it was our responsibility to advise the Product Owner and to come up with different ways how it could be implemented.
        <br>We made sure not to make unrealistic promises and if we were unable to deliver what we promised, we would discuss it and try to find an alternative solution with the Product Owner.
        <br>At every meeting we showed the Product Owner the features that were promised at the previous meeting and asked for feedback.
        <br>We also proposed tweaks or points of improvement to try to make sure that the webshop would exceed the Product Owner's expectations.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">What did I contribute to this project?</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">My main task during this project was the front-end part of the webshop. I had to make sure that the webshop is easy to use and also aesthetically pleasing for the users. This has been achieved by using the Bootstrap front-end framework, designing a luxurious company logo and extensively researching like which colour palettes and layouts would suit the target audience of the webshop.
        Besides the front-end of the webshop, I implemented the possibility to pay with Paypal in our webshop with the aim of targeting a bigger audience.
      </div>
    </div>
  </div>
  
</div>
</div>
</div>