@{
    ViewData["Title"] = "Quinten Huisman";
}


<div class="row">
    <div class="col-sm-12">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">

      <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Customer centered approach</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">Our idea was to provide a website that mainly focussed on the rich lifestyle. Due to this choice we went in another direction than our competing projects. The first thing we changed was the sales section. In agreement with our client we chose to not implement this aspect. We sell item worth more than 6 figures so a sales page was not that great of an option. This was the first time our client saw true potential in our webproject idea. We created advice from our client to show her what we created. The direct impact of the visible implementations created the best feedback. Honesty was one of our main aspects during the meetings. If there was an idea we did our best to implement a prototype for the next meeting. We did not hide anything during those meeting. The best way to get the best product is through honesty. 
        <br/><br/>
        Eventually all the honesty was paying off. Every meeting we would show everything we had. If there was something our client wanted we immediately thought of a way to implement it in our project. If we did not have enough research on the topic than we would make it a discussion point for the next time. Security was one of those topics. 
        <br/><br/>
        Every meeting we agreed that we all spoke of what went down the last 2 weeks. Because of those tactics our client saw that we were a good team and trustworthy. The client gets a secure feeling out of this. 
     </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">What did I contribute to this project</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">In this project my main focus was on the front-end of programming. This is because im am very nitpicking on how something would look professionally. Our website is mainly focussed on the expensive side of products. Research needed to be done on other website’s to implement features on our website. I helped in the research and implementation of how the website should work and should look. The setup of the product page was one of those things to be specific . My work history with company’s like: Alternate and Coolblue helped us in the progress to create the ideas for the end product. On the back-end i created the contact page with e-mail integration. 
      </div>
    </div>
  </div>
  
</div>
</div>
</div>