@{
    ViewData["Title"] = "Roos Lamens";
}


<div class="row">
    <div class="col-sm-12">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

      <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Who am I?</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body"><p>I am Roos Lamens. I am 22 years young and a student at the Hogeschool Rotterdam. I study Computer Science. I live in De Lier, a village in the Netherlands.</p>
      <p>My hobbies are snowboarding and ballroom dancing.</p>
      <p>After my studies I want to work in an ICT company, first as a programmer, later as a software analyst or project leader.</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">What did I contribute to this project?</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">In this project we have made up the webshop 'Squiller-Fashion' as a team. We have designed the design and functionality with the entire team.
      <p>I was mainly busy with the front end during this project. We have included a promotional video with the entire team.</p>
      <br>I have programmed a number of pages both front end and back end:
      <br>- About page
      <br>- Development page
      <br>- Terms and Condition page
      <br>- FAQ page
      <p>I also added the products we sell on our webshop to the database. </p>
      </div>
    </div>
  </div>
  

</div>
</div>
</div>