@{
    ViewData["Title"] = "Steven Koerts";
}


<div class="row">
    <div class="col-sm-12">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">

      <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Customer centered approach</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
        During the project we had a meeting with the Product Owner and the Tutor every two weeks. In this meeting we had to show what we had implemented
        for this week and what we will implement next week. Before we were going to implement a new feature, we had to analyze the needs for the webshop.
        The first meeting: We made a couple of slides for how the webshop will look like and what kind of products will be sold. Depending on our specific case 
        we asked what features the Product Owner wanted to have implemented in the webshop. For example, in some webshops you can order products without making a new account, 
        in other webshops you have to be a registered customer to order anything in the store. The Product Owner wanted that only registered customers could order products, because for the kind of products
        we sell it is better that you have some customer details about who ordered the product and you want to make sure that the customers are comming back after an order is made.
        <br/><br/>
        We also gave some advice about certain features that were very useful to have, one them is the pagination. The product owner had not explictly said that that we had to implement this, but 
        when you have to handle big amounts of data on one page the browser will become slow. So that is why it is useful to divide the data over multiple pages.
        <br/><br/>
        At last, we were trying to be honest to product owner about what we were able to do and the things we needed to find out. So in the very begining, the product owner asked us about 
        how we would manage security on the webshop. Things like how the personal information from customers will be stored, who is able to see what and who is able to edit the information.
        We had not thought about this yet. So we responded that we would take a look at it and do the necessary research.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">What did I contribute to this project</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        In this project I focused mainly on the back-end part of the webshop. I got the honor to do the first GitHub commit for
        this long term 16 weeks project, in the first weeks I spend most time of my time setting up the development environment. First I configurred the
        database and made it possible to do some basic operations on the data, things like creating, updating, reading and deleting data.
        Furthermore, I took the responsibility for developing the more complicated subsystems for the webshop. Like the search engine, the filter and sorting
        options for the products. The thing I am most proud of is that I build the website recommendation in product, because I build it completly from scratch and 
        it took me a while before I started writing somen first lines of code for the recommendation algorithm. The recommendation algorithm works by checking the order history 
        from other customers and when a new customer clicks on a product he sees in the recommendation section the products an other customer bought in combination with the selected 
        product.<br/>
        I also implemented some other basic features, like the login system, admin login, shoppingcart and order system. The order system was ofcourse required for the recommendation system.
      </div>
    </div>
  </div>

</div>
</div>
</div>