@model Webshop.Models.Product;

@{
  ViewData["Title"] = Model.Name; 
}

<h1>@Model.Name</h1>
<a asp-action="Index">Go back</a> <br/>

<img height="300px" width="400px" src='@string.Format("/images/products/{0}.jpg", @Model.Id)'>

<p>
  @Model.Description <br/>
  $@Model.Price
</p>

