.App {
  text-align: center;
}

.App-logo {
  height: 25px;
}


.App-header {
  text-align: left;
  background-color: #000000;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Navbar{
  background-color: #000000;
}

.TitleHeader{
  padding: 18px 10px;
}

.Product{
  width: 100%;
  height: auto;
}