@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<!--
    This page also requires no authorization
    Put in here a short story about how we came for the idea for the project.
-->

