@{
    ViewData["Title"] = "About us";
}
<h1>@ViewData["Title"]</h1>

<div class="container-fluid">
  <div class="row">
        <div class="col-sm-6"><h3>VISION</h3>
    <dl>
        <dt>What does the future look like?</dt>
        <dd>The future of Squiller fashion is grandiose. Now we are only a starting shop, but through our promotion materials the webshop will grow into a miracle! We will take multiple brands and products in our range and will always continue to strive for fantastic customer service. We will become one of the largest high fashion webshops in the world.</dd>
        <dt>What changes do we think we come across?</dt>
        <dd>We think that in the future you will have more and more needs for beautiful and unique products. We already offer these products easily on a webshop. We will grow in these developments by keeping our products up-to-date and not disappoint with our fantastic range.</dd>
        <dt>What do we want to achieve in 10 years?</dt>
        <dd>In 10 years we are one of the largest high fashion webshops in the world. We are known as a professional webshop with a unique view on high fashion. All products in our range are special, unique and of fantastic quality. Our service also exceeds the other web shops. We are available for 24 hours, we deliver the products to you free of charge and the delivery time is minimal.</dd>
        <dt>How are we going to tackle this?</dt>
        <dd>We will achieve this by developing a specialized team. By means of courses and scholarships everyone is aware of the range and everyone has their input in it. There will be many training sessions in which our team will be trained to the utmost to keep you satisfied.</dd>
    </dl>
    </div>
    
    <div class="col-sm-6"><h3>MISSION</h3>
    <dl>
        <dt>Who are we and what do we do?</dt>
        <dd>We are Squiller-Fashion. Squiller-Fashion is a high fashion webshop where you can view and purchase various major brands. Squiller-Fashion works together with these brands, we buy our products at the head office of these big brands. Customer friendliness is central to Squiller-fashion and we provide a smooth service.</dd>
        <dt>What can we do for you?</dt>
        <dd>Squiller-fashion is a high class webshop where customers feel comfortable. We offer large, beautiful brands. The customer is central to Squiller fashion. Our customer service is also available for 24 hours. We do this to create a bond with the customer and make the customer feel at home.</dd>
        <dt>What do we believe?</dt>
        <dd>We believe in creating a unique range for the customer. We believe that the customer likes to find the unique products of a certain big brand very interesting and we can easily list them for you.</dd>
        <dt>What do we want to achieve?</dt>
        <dd>We want to offer the customer a nice assortment. We look for the most beautiful, unique and best articles to show to the customer. This way we hope to help the customer with his or her purchase on our webshop.</dd>
  </dl>  
    </div>

  </div>
</div>

<img src="~/images/highfashion.jpg" width="1140" height="500">
<!--
    This page also requires no authorization
    Put in here a short story about how we came for the idea for the project.
-->

