@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>

<!--
    This page also requires no authorization
    We can use this page to add aditional information about the project, or an example of a contact page.
-->

