@{
    ViewData["Title"] = "FAQ";
}

<div class="row">
    <div class="col-sm-12">
         <h1>@ViewData["Title"]</h1>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <!--FAQ section-->
        <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">
            Wat is de levertijd van een producct?
            </a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
Bacon ipsum dolor amet kielbasa turkey pancetta jerky ham hock. Pancetta burgdoggen rump corned beef, chicken brisket beef ribs shankle turducken sausage. Ham landjaeger doner, swine salami porchetta pig spare ribs drumstick ground round kevin pancetta jerky. Short loin bresaola pig prosciutto filet mignon burgdoggen ham hock drumstick shank corned beef short ribs frankfurter pork loin beef ribs.
      </div>
    </div>
  </div>
</div>
    </div> 
</div>