@{
    ViewData["Title"] = "Development Team";
}

<h1>The team</h1>

<!--
    This page also requires no authorization
    Put some information about ourselfs in here, things like your role in the group, github contribution graph and maybe profile
    picture.
-->