@{
    ViewData["Title"] = "Terms and Condition";
}
<h1>@ViewData["Title"]</h1>

<p>This Web-Site is published by Omae Wa Mou Shindeiru, a company incorporated in the Netherlands with a share capital of 21.119.700 Euros, registered with Rotterdam Trade and Companies Registry under number 123 456 789, having its registered office located at Wijnhaven 107, 3011 WN Rotterdam, the Netherlands. Tel : + 31 6 23 45 67</p>

<p>Publishing Director for the Website is: Steven Koerts, Billy Hu, Quinten Huisman and Roos Lamens.
Website is hosted by project team Omae Wa Mou Shindeiru. </p>

<p>
    
Access to the Website and the use of its contents is subject to the conditions set out below. By accessing the Website, the visitor is deemed to have irrevocably accepted these terms and conditions of use and to have agreed to abide by them. If the visitor does not accept these terms, its only remedy is to discontinue use of the Website. 
This Website and all materials, text, code, content, software, graphics, photographs, illustrations, artwork, formats, files, devices and links contained in it or linked to it (together « Content ») are protected by copyrights, trademarks and other intellectual property rights owned by or licensed to, Omae Wa Mou Shindeiru.
Anyone accessing this Website is entitled to view any part of it for private and personal use. However, Content must not be used or reproduced (in whole or in part) for any other purpose including, without limitation, on or in connection with any other Website or publication, or for direct commercial gain.
Squiller-fashion products are sold exclusively through Squiller-fashion all over the world, or on the e-commerce section of the Website available solely within certain countries as further detailed on the Website. Contracts for the supply of goods or services formed through the Website are governed by separate terms and conditions of sale.
Any purchase outside of these points of sale is entirely at the purchaser’s risk, in particular with regard to the authenticity of any such purchased items.
Subject to the terms below, Squiller-fashion takes steps to ensure that the information accessed via the Website is accurate and up-to-date but can give no guarantee or warranty as to the accuracy, timeliness or completeness of any information or material appearing on it. Squiller-fashion reserves the right to correct the Website content at any time without prior notice and without liability.

</p>

<p>
    Squiller-fashion cannot be held liable for:
<br>
-    Any inaccuracy or omission in respect of the information or material provided on the Website by a third part
<br>
-    Any inability to access the Website due to any third party act or action.
</p>
<p>
The visitor hereby acknowledges that access to the Website may be interrupted at any time by Squiller-fashion for maintenance, security, or any other technical reason. Squiller-fashion will not be liable if for any reason the Website is unavailable at any time or for any period.
Save for liability which Squiller-fashion cannot by law restrict or exclude, Squiller-fashion shall have no liability to visitors to the Website or any third party for any direct, special, indirect, consequential or incidental damages, exemplary or lost profits, or any other damages of any kind whether based on warranty, contract, tort, negligence or otherwise, even where Squiller-fashion has been advised of the possibility of the same whether resulting from access to the Website, inability to access the Website or any information or material directly or indirectly provided through the Website or otherwise. This does not affect any liability of Squiller-fashion for fraud or for death or personal injury arising from its negligence
Each visitor to the Website may, at his/her option, provide Squiller-fashion with personal information, in order for Squiller-fashion to better understand visitors’ expectations, and to provide information on Squiller-fashion products or services to visitors who have opted for receiving such information. If the visitor has notified Squiller-fashion that he/she does wish to receive any details of Squiller-fashion products or services, Squiller-fashion may contact the visitor by email, telephone or post to provide the visitor with details of Squiller-fashion products or services or any other information which Squiller-fashion believes may be of interest. The information may also be passed to other companies within Squiller-fashion Group. The holding and using of information will be governed by the Data Protection Act 1998 and also by Dutch law where this offers the visitor greater protection for his or her personal information.
In accordance with Dutch Law “Computing and Freedom” n°78-17 of January 6, 1978, as modified by the law of August 06, 2004, the visitor may access his/her personal information and modify or delete it.  Each visitor may also refuse, at no cost, to be contacted by Squiller-fashion, in which case he/she will no longer receive details on Squiller-fashion products or services.
Visitors may exercise the above mentioned rights by sending mail. 
Security measures have been employed to ensure security and confidentiality of visitors’ data.  However, visitors acknowledge that Squiller-fashion does not control the transfer of data over telecommunication facilities including the Internet.  Therefore, Squiller-fashion warns visitors against any potential risk involved by the use of the Internet in this respect.  
Hypertext links to the Website (other than other websites operated by Squiller-fashion) may only be included with prior written consent from Squiller-fashion, which may be withheld at any time.  Squiller-fashion has no responsibility for the content of such pages.
Squiller-fashion hereby informs visitors that these general terms and conditions may be modified at any time. As soon as they are displayed online, each visitor who accesses the Website is deemed to have accepted these modifications without restriction.  It is therefore the visitor’s responsibility to read these terms and conditions prior to browsing the Website.

</p>
<p>These terms and conditions are governed by Dutch law save in relation to the provision and use of personal information where the Data Protection Act 1998 will also apply. The Dutch courts shall have sole jurisdiction over any claim related to or in connection with the use of this Website.
</p>

<p>1. WHAT IS A COOKIE?</p>
<p>
A cookie is a text file which is stored in a dedicated area of your Device’s* hard drive when you visit an online service. A cookie enables to identify the Device on which it is stored, until such cookie reaches its expiry date.
<br>*”Device” means any electronic equipment (computer, tablet or smartphone…) that you use to browse a website, an application, an advertising content etc.
</p>
<p>2. WHAT TYPES OF COOKIES DO WE USE?</p>
<p>
When you connect to our Website, we may, depending on your settings, use some cookies enabling us to recognize the web browser on your Device until said cookies expire.
Cookies that we use aim at:
<br>- obtaining statistic and analyzing web traffic and how the various sections of our Website are use, thus enabling us to improve users’ interest and ergonomy on our services as well as the visibility of our content. 
<br>- In the event you provided us with personal data (such as your email address) when you logged to one of our services, we may use this data combined with other data about the Device you are using, in order to send you electronic marketing communications.
<br>- Providing or facilitating your browsing on our website, or providing you with online communication services that you may request during your visit, in order to:
<br>o Adjust the presentation of our website to the display preferences of your Device (language, screen definition, operating system, etc) depending on the hardware and software used by your Device. 
<br>o memorize some information you previously submitted when filling forms online (subscription or log-in to your account) or concerning products, services and/or information you had previously selected on our website (e.g. subscribed service, shopping bag content, wishlist, etc) ;
<br>o Allow you to access some dedicated areas on our website such as your personal account, thanks to identifiers or other data you might have previously provided to us.
<br>o Ensure security of our Website and services (e.g. when you have to re-log to our services after a certain period of time)

</p>

<!--
    Put in here an example of a regular copy pasted terms of Conditions from another site.
-->