@{
    ViewData["Title"] = "Error 403";
}

<h1>Error 403 - We are very sorry about that.</h1>

<p>
    This page requires some sort of authorization and you don't have access to it. Click <a asp-controller="Customer" asp-action="Create" >here</a> to create an account
    it might help you little further in life.
</p>