@{
    ViewData["Title"] = "Account Questions";
}

<div class="row">
    <div class="col-sm-12">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

      <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">How can I delete my account?</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">You can delete your account in two ways:
        <br>1. You can delete your account by yourself
        <br>- Go to your personal page by clicking Welcome "username"
        <br>- Click on the red button "delete account"
        <br>2. or you contact customer service
        <br>Keep in mind that all stored data, such as your order history, will be lost. This information can not be restored after the deregistration.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">How can I change my account details?</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">You can change your account details by going through the following steps:
        <br>1. Log in 
        <br>2. Click on "Welcome 'username'" to go to your personal page
        <br>3. On your personal page you can click on 'edit your information'
        <br>4. Change your personal information and click on "save"
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">How can I register at Squiller-Fashion?</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">To register with Squiller-Fashion you have to go through the following steps:
        <br>1. Click on 'sign up' at the top left of the page
        <br>2. Enter your personal details
        <br>3. accept the 'Terms and conditions'
        <br>4. Finally you can click on 'register'
        <br>You have now created an account and can log in with your username and password
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">What should I do if I have forgotten my password?</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">Unfortunately there is no functionality for this yet. this functionality will be implemented in the next update!
      </div>
    </div>
  </div>

    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Can I see the history of my ordered items in an overview?</a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">Unfortunately there is no functionality for this yet. this functionality will be implemented in the next update!
      </div>
    </div>
  </div>
</div>

  </div>
</div>
