@{
    ViewData["Title"] = "Account Questions";
}

<div class="row">
    <div class="col-ms-12">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

      <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">What does the shipping process look like?</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">The shipping process of Squiller-Fashion is done via the following steps:'
        <br>1. Your order is sought together in one of our logistics centers
        <br>2. Your order will be sent by PostNL from our logistics center together with other Squiller-Fashion orders
        <br>3. Your order will be sorted by PostNL together with other Squiller-Fashion orders based on the postal codes
        <br>4. Your order will be delivered by PostNL to the delivery address specified by you
        <br>Check immediately after receiving the article if it is undamaged and completely delivered. If this is not the case, we kindly ask you to contact our customer service as soon as possible to report this.
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Can I track my order?</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">You can not track your order yet, this feature will be implemented with the next update!</div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">What if an item is missing on delivery?</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">If you have ordered one or more items, but have not received these items, please contact our customer service</div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">What if a wrong item was delivered?</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">It may happen that we have accidentally sent an article with the wrong size or color to you. It is best to return the article immediately and then check the website to see if the article in question is still available. If available, we advise you to order the article immediately, especially when the stock is still small. Items you place in the shopping cart or on your wish list are not reserved.
          <br>- If you have received one or more articles again in the wrong size and / or color the second time, you can contact our customer service.
      </div>
    </div>
  </div>

    <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">What if I am not at home when the deliverer comes?</a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">The delivery person of PostNL offers the order at the delivery address. If you are not present during the first delivery attempt, you will receive a notification from PostNL. You can then choose from three options on the PostNL website:
        <br>1. Create a new delivery appointment
        <br>2. Have the order delivered to your neighbors
        <br>3. Or have the order delivered to a PostNL point
        <br>If you do not use the aforementioned options, your order will be offered the next delivery day. Should you not be able to receive the order again, the order will be taken to a PostNL point where you can collect it for three weeks before the package is returned to Squiller-Fashion.
      </div>
    </div>
  </div>
</div>

  </div>
</div>
