@{
    ViewData["Title"] = "Delivery Questions";
}

<div class="row">
    <div class="col-ms-12">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse1">Delivery time at Squiller-Fashion?</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">When in stock, 1-2 days within Europe and outside Europe 1-2 weeks</div>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse2">How can I cancel my order?</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body"> If you don't want to order your chosen product, you can remove it from your shoppingcart according to the following steps:
          <br> 1. Log in to your account
          <br> 2. Go to your shoppingcart
          <br> 3. click on 'remove' (behind your chosen product)
          <br> And your product is deleted from your shoppingcart!
      </div>
    </div>
  </div>
</div>

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse3">Explanation ordering process</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">To order a product you must go through the following steps: 
          <br> 1. You must be logged in with a personal account 
          <br> 2. If you do not have an account, you can create an account 
          <br> 3. Find the items that you want to order 
          <br> 4. Add these products to your shopping cart 
        <br> 5. Check your shopping cart 
        <br> 6. If everything is fine you can choose from a payment method 
        <br> 7. You can pay via PayPal or through a bank statement
        <br> 8. When you have paid you will receive an order confirmation
      </div>
    </div>
  </div>
</div>

        <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse4">Explanation making an account</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">For making an account you must go through the following steps: 
            <br>1. Click on "sign up"
            <br>2. Fill in your personal information
            <br>3. Now you can log in with your username and password
            <br>4. When you click on "Welcome 'username'" you can change your password, edit your information and delete your account </div>
    </div>
  </div>
</div>

        <div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse5">Pay with PayPal</a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">An option to pay at Squiller-Fashion is PayPal
          <br>1. Click on "Pay Pay" at your shopping cart
          <br>2. Log in with your PayPal account
          <br>3. Follow the payment instructions
      </div>
    </div>
</div>