@{
    ViewData["Title"] = "FAQ";
}

<h1>@ViewData["Title"]</h1>
<h3>Choose a category</h3>

<div class="row">
    
    <div class="col-md-3">
        
        <a asp-controller="Faq" asp-action="DeliveryQuestions">
        <img height="150px" width="200px" src="~/images/verzending.png">
        </a>

    </div>

    <div class="col-md-3">
        
        <a asp-controller="Faq" asp-action="AccountQuestions">
        <img height="150px" width="200px" src="~/images/account.png">
        </a>

    </div>

    <div class="col-md-3">
        
        <a asp-controller="Faq" asp-action="PaymentsQuestions">
        <img height="150px" width="200" src="~/images/betalingen.png">
        </a>

    </div>

    
    <div class="col-md-3">
        
        <a asp-controller="Faq" asp-action="OrdersQuestions">
        <img height="150px" width="200px" src="~/images/bestellingen.png">
        </a>

    </div>

</div>
    

      
