@{
    ViewData["Title"] = "FAQ";
}

<h1>@ViewData["Title"]</h1>
<h2>Choose a category:</h2>

<div class="row">
    
    <div class="col-md-3">
        
        <a asp-controller="Faq" asp-action="DeliveryQuestions">
        <img height="150px" width="200px" src="~/images/verzending.png">
        </a>
        <h2>----Delivery questions----</h2> 

    </div>

    <div class="col-md-3">
        
        <a asp-controller="Faq" asp-action="AccountQuestions">
        <img height="150px" width="200px" src="~/images/account.png">
        </a>
        <h2>----Account questions----</h2> 

    </div>

    <div class="col-md-3">
        
        <a asp-controller="Faq" asp-action="PaymentsQuestions">
        <img height="150px" width="200" src="~/images/betalingen.png">
        </a>
        <h2>----Payment questions----</h2> 

    </div>

    
    <div class="col-md-3">
        
        <a asp-controller="Faq" asp-action="OrdersQuestions">
        <img height="150px" width="200px" src="~/images/bestellingen.png">
        </a>
        <h2>----Order questions----</h2> 


    </div>

</div>
    

      
