@{
    ViewData["Title"] = "Order Questions";
}

<div class="row">
    <div class="col-sm-12">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Delivery time at Squiller-Fashion?</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">When in stock, 1-2 days within Europe and outside Europe 1-2 weeks</div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        How can I cancel my order?</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">If you don't want to order your chosen product, you can remove it from your shoppingcart according to the following steps:
          <br> 1. Log in to your account
          <br> 2. Go to your shoppingcart
          <br> 3. click on 'remove' (behind your chosen product)
          <br> And your product is deleted from your shoppingcart!</div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Explanation ordering process</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">To order a product you must go through the following steps:
          <br> 1. You must be logged in with a personal account
          <br> 2. If you do not have an account, you can create an account
          <br> 3. Find the items that you want to order
          <br> 4. Add these products to your shopping cart
        <br> 5. Check your shopping cart
        <br> 6. If everything is fine you can choose from a payment method
        <br> 7. You can pay via PayPal or through a bank statement
        <br> 8. When you have paid you will receive an order confirmation</div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        How to search for items?</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">To search products you must go through the following steps:
          <br>1. At the homepage or the productpage you can find the search bar upper right corner
          <br>2. You can fill the productname at the search bar(a part from the product name is okay too)
          <br>3. Your search results will appear on the screen
      </div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
        How do you sort products?</a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">To sort products you must go through the following steps:
          <br>1. Left above the products you can find a sort option
          <br>2. If you click on it you can choose from 'Price: Low to high' or 'Price: High to Low'
          <br>3. The products will be sorted by your preference
      </div>
    </div>
  </div>

</div>
</div>
</div>
