@{
    ViewData["Title"] = "Order Questions";
}

<div class="row">
    <div class="col-sm-12">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Can I pay by means of 'Pay on account'?</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">To order on account you go through the following steps:
        <br>1. Check if your order is correct
        <br>2. Click on 'Pay on account'
        <br>3. You will receive a confirmation email with your order in the appendix
        <br>4. The mail contains the bank details of Squiller-Fashion
        <br>5. You have 14 days to fulfill the payment
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Can I Pay with PayPal?</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">An option to pay at Squiller-Fashion is PayPal
          <br>1. Click on "Pay Pay" at your shopping cart
          <br>2. Log in with your PayPal account
          <br>3. Follow the payment instructions</div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">What is the payment term with 'Pay on account'?</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">You have 14 days to fulfill the payment</div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Safe shopping at Squiller-Fashion</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">- For the online payments we use an SSL connection / Secure Sockets Layer connection. This means that all personal data that you have entrusted to us is encrypted. This prevents others from seeing your information. However, the most important protection remains your own password. Never give your password to other people and avoid open access to your account.
        <br>- Squiller-Fashion complies with applicable privacy legislation and all legal requirements. Your contact information is only used to process orders and to continuously improve our services. Information is never provided to third parties without your permission. For more details see the Privacy Statement.
      </div>
    </div>
  </div>

<div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">What if I forgot to mention my order number?</a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">You can find the order number of your order in the order confirmation that you received from us by e-mail. In order to process your payment correctly, we need the correct data. That is why we ask you to contact our customer service. If you contact us, please state as much information as possible. At least your order number, customer number and account holder of the account you paid with.</div>
    </div>
  </div>

</div>
</div>
</div>